h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #bbddea;
    text-align: center;
}
  
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
  
label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
  
body {
    background-color: #14272E;
}
  
a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #bbddea;

}

nav {
    background-color: #14272E;
  }

.img {
    height: 99%;
    width: 99%;
}


