body {
  background-color: #14272E;

}

nav {
  background-color: #14272E;
  
}

h2 {
  color: #bbddea

}

.img {
  height: 99%;
  width: 99%;

}

.page-footer{
  background-color: #bbddea;

}

.text {
  color: #14272E

}

h5 {
  color: #14272E
}

.jumbotron {
  background-color: #14272E;
  border-color: #14272E;
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 275px;
}

h1 {
  color: rgb(235, 235, 235);
}

h4 {
  color: rgb(235, 235, 235);
}

.modal {
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
}

.poster-image {
  position: absolute;
  left: 0;
}

.poster {
  position: absolute;
  left: 0;
}

#movieReview {
  padding: 5px;
  background-color: rgb(30, 30, 30);
}

.recviewd {
  text-align: center;
}

.posterDisplay {
  padding: 10px;
}

.nav-wrapper { 
padding-left: 24px;  
}