body {
  background-color: #14272E;

}

nav {
  background-color: #14272E;
  
}

h2 {
  color: #bbddea

}

.img {
  height: 99%;
  width: 99%;

}

.page-footer{
  background-color: #bbddea;

}

.text {
  color: #14272E

}

h5 {
  color: #14272E
}

